@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  letter-spacing: 0.05em;
  cursor: default;
  font-family: 'Roboto Condensed', sans-serif;
  /* opacity: 0.75; */
}



h1, h3 {
  font-family: 'Bodoni Moda', serif;
}
